#root {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

/* .forms-container {
  display: flex;
  flex-basis: 50%;
  margin-top: 5rem;
} */

.forms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0rem;
    margin-top: 7.5rem;
}

/* .left-column {
  max-width: 35rem;
  min-width: 35rem;
  padding: 0 1rem;
} */

.left-column {
    max-width: 40rem;
    min-width: 40rem;
    padding: 0 1rem;
}

.right-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
}

.right-column {
    padding: 0 1rem;
    max-width: 55rem;
    min-width: 55rem;
    margin-left: -5rem;
}
/* 
.forms-container > * {
  grid-column: span 1;
} */

.frogai-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.header-container {
    height: 8rem;
    padding: 0 2rem;
    width: 100%;
    overflow: hidden;
    margin-top: -3.5rem;
    z-index: 999;
    overscroll-behavior: contain;
}

.color-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    background-color: #161b22;
    z-index: -1;
    box-shadow: none;
}

.footer-container {
    display: flex;
    position: relative;
    height: 3rem;
    padding: 0 2rem;
    margin-top: 10rem;
    overflow: hidden;
    border-top: 1px solid #d2d2d2;
    /* z-index: 999; */
    /* overscroll-behavior: contain; */
}

.bottom-text {
    display: flex;
    font-size: 1.1rem;
    color: #727272;
    /* margin-left: 30rem; */
    margin-top: 0rem;
}

.brand {
    position: relative;
    display: flex;
    height: 9rem;
    padding: 0 2rem;
    margin-left: -3rem;
    width: 100%;
    align-items: center;
}

.frogai-logo {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
    border: 5px solid #727272;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: none;
}

.logo-text {
    display: flex;
    align-items: center;
}

.tagline {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: #999;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    min-height: 100%;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: -0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

/* .toggle-container input[type="checkbox"] {
  transform: scale(1.5);

} */

/* .toggle {
  font-size: 1rem;
  margin-left: 0.5rem;
} */

/* .toggle-container {
  display: inline-block;
  position: relative;
  margin-right: 20px;
} */

.discord-link {
    /* background-color: #7289da; */
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 0rem;
    font-size: 1.1rem;
}

.monitor-enthusiasts-link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.monitor-enthusiasts-link:hover {
    text-decoration: underline;
}

.toggle input[type='checkbox'] {
    display: none;
}

/* Style the toggle switch */
.toggle .switch {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Style the switch knob */
.toggle .knob {
    display: inline-block;
    position: absolute;
    top: 2.4px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
    transition: left 0.3s;
}

/* Change the background color of the switch when the checkbox is checked */
.toggle input[type='checkbox']:checked + .switch {
    background-color: #e84393;
}

/* Move the switch knob to the right when the checkbox is checked */
.toggle input[type='checkbox']:checked + .switch .knob {
    left: 27px;
}

.toggle-inner {
    display: block;
}

.toggle-text {
    position: relative;
    bottom: 0.75rem;
    font-size: 1rem;
    margin-left: 1rem;
    padding-bottom: 2rem;
}

@media (max-width: 77rem) {
    .left-column {
        min-width: auto;
        width: auto;
    }
    .right-column {
        margin-top: 0px;
        min-width: auto;
        margin-left: 0px;
    }
    .right-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (prefers-color-scheme: dark) {
    .color-bar {
        background-color: #161b22;
    }
    .frogai-logo {
        border: 5px solid #434343;
    }
    .footer-container {
        border-top: 1px solid #494949;
    }
    .monitor-enthusiasts-link {
        color: #fff;
    }
}
