.form-container {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 400px;
  align-items: left;
  margin-bottom: 5px;
}

.form-field {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  outline: none;
}

.form-input:focus {
  box-shadow: 0 0 5px #86c232;
}

.form-dropdown {
  appearance: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  outline: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5' viewBox='0 0 10 5'%3E%3Cpath fill='%23ffffff' d='M5 5L0 0h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.form-dropdown:focus {
  box-shadow: 0 0 5px #86c232;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
