.form-container {
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 400px;
  align-items: left;
  margin-bottom: 50px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}

select {
  cursor: pointer;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #00bfff;
  box-shadow: 0 0 0 2px #00bfff33;
}