:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #222;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

a {
    font-weight: 500;
    color: #e84393;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #bf2f5e;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 4em;
    line-height: 1.1;
    color: #e84393;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}

button {
    border-radius: 20px;
    border: none;
    padding: 1.2em 2.4em;
    font-size: 1.2em;
    font-weight: 600;
    font-family: inherit;
    background-image: linear-gradient(to right, #e84393, #903b70);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button:focus,
button:focus-visible {
    outline: none;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
    :root {
        color: rgba(255, 255, 255, 0.87);
        /* background-color: #0d1117; */
        background-color: #020304;
    }
    a {
        color: #e84393;
    }
    a:hover {
        color: #bf2f5e;
    }
    h1 {
        color: #e84393;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    }
    button {
        background-image: linear-gradient(to right, #e84393, #903b70);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    }
    button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    }
}
