.LandingPage {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    min-width: 100rem;
    max-width: 100rem;
    padding: 0 2rem;
}

/* Heading style */
.LandingPage h2 {
    font-size: 3.5rem;
    /* font-family: Arial, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    align-self: center;
    margin-bottom: 5rem;
}

/* List style */
.LandingPage ul {
    justify-content: space-between;
    height: auto;
    /* border: 1px solid #e4e4e4; */
    border-radius: 10px;
    list-style: disc;
    margin: 0;
    padding: 0 0 0 20px;
    max-width: 60rem;
    margin-bottom: 5rem;
    column-count: 2; /* split the list into two columns */
    column-gap: 2rem;
}

/* List item style */
.LandingPage li {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1.5rem;
    margin: 1rem;
    /* max-width: 30rem; */
    margin-bottom: 2rem;
    display: inline-block;
}

.LandingPage button {
    display: block;
    border-radius: 20px;
    border: none;
    /* padding: 1rem 2rem; */
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: inherit;
    background-image: linear-gradient(to right, #e84393, #903b70);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.LandingPage button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.LandingPage button:focus,
button:focus-visible {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    .LandingPage {
        /* background-color:  #0d1117; */
        background-color: #020304;
    }

    /* .LandingPage ul {
      border: 1px solid #434343;
    } */

    .LandingPage button {
        background-image: linear-gradient(to right, #e84393, #903b70);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    }
    button:hover {
        transform: translateY(-2px);
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
    }
}
