.monitor-box {
    background-color: #1c1c1c;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: Arial, sans-serif;
  font-size: 14px;
  width: 450px;
  align-items: left;
  margin-bottom: 40px;
  margin-top: -10px;
  }
  
  .monitor-box h3 {
    margin-top: 0;
  }
  
  .monitor-box p {
    margin: 0;
  }
  
  /* .monitor-box p:first-of-type {
    font-weight: bold;
  } */
  
  .monitor-box p:last-of-type {
    margin-bottom: 0;
  }
  