.monitor-box {
    display: flex;
    flex-direction: column;
    /* background-color: #fafafa; */
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); */
    border: 1px solid #ccc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 1rem;
    width: auto;
    align-items: left;
    margin-bottom: 35px;
    margin-top: -10px;
    color: black;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    min-height: auto;
}

.monitor-box.colorimeter {
    background-color: #e6e6e6;
}

.monitor-box h3 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;
}

.monitor-box p {
    margin: 0.3rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0px;
}

.monitor-box label {
    font-weight: 500;
}

.monitor-box button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: rgb(98, 98, 229);
    cursor: pointer;
}

/* .monitor-box p:first-of-type {
    font-weight: bold;
  } */

.monitor-box p:last-child {
    margin-bottom: 0;
    border-bottom: none;
}

.cost {
    text-align: right;
}

.meters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.medium-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-top: -2.75rem;
    margin-bottom: 0.5rem;
}

/* .spec-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
} */

.grid-item {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.premessage-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    max-width: 40rem;
}

.premessage {
    display: inline-block;
    color: #a2a2a2;
    font-size: 1rem;
    border: 1px solid #a2a2a2;
    border-radius: 7px;
    padding: 0.5rem;
}

.Bad {
    color: red;
    margin-bottom: 1rem;
}

.Mediocre {
    color: orange;
    margin-bottom: 1rem;
}

.Good {
    color: rgb(60, 195, 60);
    margin-bottom: 1rem;
}

.Excellent {
    color: green;
    margin-bottom: 1rem;
}

@media (prefers-color-scheme: dark) {
    .monitor-box {
        color: white;
        background-color: #161b22;
        border: 1px solid #777777;
    }
    .monitor-box.colorimeter {
        background-color: #1f2734;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
